body {
    background-color: #111;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#column-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 500px;
    perspective-origin: right;
    background: radial-gradient(ellipse at top, #023788, transparent),
            radial-gradient(ellipse at bottom, #2e2157, transparent),
            radial-gradient(ellipse at left, #ff6c11, transparent),
            radial-gradient(ellipse at right, #f9c80e, transparent);
    background-size: 400% 400%;
    animation: color 15s ease infinite;
}

.column {
    position: relative;
    /* display: inline-block; */
    display: none;
    background: linear-gradient(-45deg, #023788, #2e2157);
    padding: 50vh 7vh;
    border-radius: .5rem;
}


.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    top: 4vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    padding: 2rem;
    color: #faf9f6;
    background-color: rgba(1, 1, 1, .5);
    font-size: 1.5rem;
    animation: bounce 2s ease alternate-reverse 2 forwards;
}

.notice .links {
    display: flex;
    flex-direction: column;
}

.notice .links a {
    color: #faf9f6;
}

.notice .links a:hover {
    background-color: cornflowerblue;
}

#contact-info {
    display: flex;
    margin-top: .5rem;
    background-color: rgba(255, 255, 255, .05);
}

#addy {
    padding: 1rem;
}

.hidden {
    visibility: hidden;
}

@keyframes color {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1rem);
    }
}

@keyframes reveal {
    from { height: 0; opacity: 0 }
}

@media only screen and (max-width: 430px) {
    .notice {
        top: 3vh;
        height: fit-content;
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .notice {
        font-size: 1rem;
    }
}